body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/*wrapper*/
.name,
.basic,
.main,
footer {
  width: 1024px;
  margin: 0 auto;
}

/*header*/
.name__inf {
  display: flex;
  align-items: baseline;
  background-color: aquamarine;
  justify-content: space-around;
}
.name__inf h1 {
  width: 50%;
  font-size: 36px;
  margin: 5px 20px;
  text-align: center;
}
.name__inf p {
  width: 50%;
  font-size: 20px;
  margin: 5px 20px;
  text-align: center;
}

/*foto and contacts*/
.basic__inf {
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 245, 245);
}
figure {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photoRomaLevsha {
  width: 190px;
}
figure figcaption {
  width: 190px;
}

.contact {
  width: 45%;
  padding: 10px;
  display: flex;
  letter-spacing: 2px;
  flex-direction: column;
  align-items: center;
}
.contact * {
  width: 60%;
  padding: 5px;
  margin: 5px;
}
.contact__type {
  font-size: 22px;
}
.contact__value {
  font-size: 18px;
  text-decoration: none;
}
.contact__value:hover {
  color: red;
}

/*main*/
.main__inf {
  background-color: rgb(250, 245, 245);
  display: flex;
  flex-wrap: wrap;
}
.main__inf h2 {
  margin: 20px;
  text-shadow: 2px 2px 3px gray;
}
.my_goal,
.my_skills,
.various__skills,
.code__example {
  width: 50%;
}
.my_goal ol {
  height: 60%;
  width: 85%;
  font-size: 20px;
  padding: 5px 20px 5px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.my_skills p {
  margin: 10px 40px 5px 40px;
  font-size: 24px;
}
.my_skills ul {
  margin-left: 30px;
  margin-top: 5px;
  font-size: 18px;
}
.my_skills ul li {
  padding: 3px;
  letter-spacing: 1px;
}

.various__skills {
  display: flex;
  flex-direction: column;
}
.experience {
  height: 34%;
}
.experience ul {
  margin-left: 30px;
  font-size: 20px;
}
.experience ul li {
  padding: 3px;
}
.subtitle__link {
  text-decoration: none;
}
.subtitle__link:hover {
  color: red;
}

.education {
  height: 33%;
}
.education p {
  padding: 5px 20px;
  font-size: 20px;
  line-height: 1.5;
}
.level_eng {
  height: 33%;
}
.level_eng p {
  padding: 5px 20px;
  font-size: 20px;
  line-height: 1.5;
}

.code__example pre {
  line-height: 1.5;
  padding: 20px;
  font-size: 18px;
}
.author__name {
  margin: 0;
  padding-right: 30px;
  background-color: rgb(255, 235, 235);
  text-align: right;
}
.author__name a {
  padding-left: 20px;
  text-decoration: none;
}
.author__name a:hover {
  color: rgb(108, 110, 38);
}

/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (max-width: 480px) {
  .name__inf {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .name__inf h1 {
    width: 100%;
    margin-top: 5px;
    font-size: 30px;
  }
  .name__inf p {
    width: 100%;
    font-size: 20px;
  }

  .basic__inf {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 245, 245);
  }
  .photoRomaLevsha {
    width: 250px;
  }
  figure figcaption {
    width: 250px;
    font-size: 18px;
  }

  .contact {
    width: 480px;
  }
  .contact * {
    padding: 1px;
    margin: 0px;
  }
  .contact__type {
    font-size: 24px;
  }
  .contact__value {
    font-size: 20px;
  }
  .my_goal,
  .my_skills,
  .various__skills,
  .code__example {
    width: 45%;
  }
  .main__inf {
    flex-direction: column;
  }
  .main__inf h2 {
    margin: 18px;
  }
  .my_goal ol {
    width: 70%;
  }
  .my_skills {
    font-size: 18px;
  }

  .experience {
    font-size: 18px;
  }

  .education {
    font-size: 18px;
  }

  .education p {
    width: 70%;
    padding: 20px;
    line-height: 1.5;
  }
  .level_eng {
    font-size: 18px;
  }
  .level_eng p {
    padding: 20px;
    line-height: 1.5;
  }

  .code__example {
    width: 45%;
  }
  .code__example h2 {
    width: 60%;
  }
  .code__example pre {
    line-height: 1.2;
    margin-left: -50px;
    padding: 0px;
  }
  .author__name {
    width: 40%;
    margin-left: 20px;
    text-align: left;
  }
}
